/*  rows */ 
		.rowa {
			margin-top: -2px;
			padding-left: 139px;
			} 
		.rowb {
			padding-left: 69px;
			margin-top: -78px;
			}
		.rowc {
			margin-top: -82px;
			margin-left: -1px;
		}

		#row3 {
			margin-top: -78px;
		}

		#row4 {
			margin-top: -78px;
		}

		/* diamonds */
		.outx
		{
			display: inline-block;
			margin-top: 50px;
			margin-left: 40px;
			width:100px;
			height:100px;
			background-color:yellow;
			/* Rotate div */
			transform:rotate(45deg);
			-ms-transform:rotate(45deg); /* IE 9 */
			-webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
			}

		.inx {
			display: inline-block;
			font-size: 27pt;
			margin-top: 17px;
			margin-left: 18px;
			transform:rotate(-45deg);
			-ms-transform:rotate(-45deg); /* IE 9 */
			-webkit-transform:rotate(-45deg); /* Opera, Chrome, and Safari */
			width: 67px;
			height: 67px;
			overflow: hidden;
			text-align: center;
			}

		.weekday {
			font-size: 13pt;
		}
		