	body, html {
		min-width: 1300px;
	}
	a {
		color: black;
	}
	#container {
				margin-left: 15px;
				nargin-right: 15px;
			}

			#userlogin {
				font-family: 'Duru Sans';
				position: absolute;
				right: 25px;
				top: 15px;
				font-size: 1.5em;
			}

			#header {
				font-family: 'Duru Sans' sans-serif;
				text-align: center;
				margin-top: 0.2%;
				border-bottom: 2px double #AAAAAA;
				height: 1%;
				overflow: hidden;
			}

			#header h1 {
				font-size: 5em;
			}

			#calendar {
				position: relative;
				width: 100%;
				left: 9%;
			}

			#footer {
				position: relative;
				bottom: -50px;
				width: 100%;
				text-align: center;
				border-top: 1px solid #AAAAAA;
				border-bottom: 1px solid #AAAAAA;
			}

			#footlinks li {
				font-family: 'Duru Sans' sans-serif;
				display: inline-block;
				font-size: 2em;
				padding-left: 20px;
				padding-right: 20px;
			}

			.circle {
				border-radius: 50%;
				width: 30px;
				height: 30px;
				display: inline-block;
				position: relative;
				top: 5px;
			}

.purple {
			background-color: rgb(153,102,203);
		}
		.orange {
			background-color: rgb(255, 204,102);
		}
		.teal {
			background-color: rgb(0, 204, 203);
		}
		.darkorange {
			background-color: rgb(239, 149, 99);
		}
		.hasevent {
			background-color: white;
			box-shadow: 0 0 0 3px black inset;
		}
