<!DOCTYPE HTML>
{% load static %}

<html>
  <head>
    <title>{% block title %}VENT{% endblock %}</title>
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    {% block scripts %}{% endblock %}

    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}" /> 
    <link rel="stylesheet" href="{% static "css/calendar.css" %}" />
    <link href='http://fonts.googleapis.com/css?family=Duru+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "css/calendar-home.css" %}" />
    {% block styles %}{% endblock %}
  </head>

  <body>
    <div id="container">
      <div id="userlogin">
        {% if not user.is_authenticated %}
            sign up | <a href="{% url 'vent.views.login' %}">log in</a>
        {% else %}
             Hello, {{ user }} | <a href="{% url 'vent.views.logout' %}">log out</a>
        {% endif %}
      </div>
      <div id="header">
        <h1><a href="{% url "vent.views.home" %}"><img src="{% static "img/logo.png" %}" width="15%"/>VENT</a></h1>
      </div>
      {% block contents %}{% endblock %}
      <div id="footer">
        <ul id="footlinks">
          <li><a href="{% url "vent.views.about" %}"><span class="circle darkorange">&nbsp;</span>    HOME</a></li>
          <li><span class="circle teal">&nbsp;</span>    ORGANIZATION</li>
          <li><span class="circle purple">&nbsp;</span>    SPONSORS</li>
        </ul>
      </div>
    </div>
  </body>
  </html>